
body{
    animation: body-color-change 4s  infinite alternate;
    height: 80vh;
    width:100vh;
}
.main img{
    animation: up-and-down 4s infinite alternate;
}
@keyframes body-color-change {
    0%{
        background:  peachpuff;
    }
    25%{
        background:papayawhip;
    }
    50%{
        background: mistyrose;
    }
    100%{
        background:azure;
    }
}
@keyframes up-and-down {
    0%{
        transform: translateY(0px);
    }
    100%{       
        transform: translateY(20px);

    }
}