
body{
    animation: body-color-change 4s  infinite alternate;
}
img{
    animation: up-and-down 4s infinite alternate;
}
@keyframes body-color-change {
    0%{
        background:  #ffe3f0;
    }
    25%{
        background:#fff7c8;
    }
    50%{
        background: #e1fba9;
    }
    100%{
        background:#c4ffe6;
    }
}
@keyframes up-and-down {
    0%{
        transform: translateY(0px);
    }
    100%{       
        transform: translateY(20px);

    }
}