body{
    animation: body-color-change 5s  infinite alternate ;
}
@keyframes body-color-change {
    0%{
        background:  rgb(250, 249, 206);
    }
    25%{
        background:papayawhip;
    }
    50%{
        background: mistyrose;
    }
    100%{
        background-color: cornsilk;
    }
}
.max-safety-gradient{
    background: radial-gradient(circle,white ,orange );
}
.safety{
    background-color: rgb(51, 141, 104);    
}
.letter-spacing{
    letter-spacing: 4px;
}